.body {
    margin: 0px;
}
.header {
    background-image: url('images/bg-header-desktop.png');
    position:absolute;
    top: 0px;
    background-repeat: no-repeat;
}
.logo {
    position: absolute;
    left: 600px;
    top: 100px;
}
#copy {
    position: absolute;
    left: 390px;
    top: 215px;
    font-family: 'Bai Jamjuree';
    font-size: 40px;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}
#clip {
    position: absolute;
    left: 390px;
    top: 280px;
    font-family: 'Bai Jamjuree';
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    line-height: 1.6;
    text-align: center;
}
.buttons {
    position: absolute;
    left: 520px;
    top: 390px;
    display: flex;
    gap: 20px;
    outline: none;
    /*background-color: transparent;*/
    font-family: 'Bai Jamjuree';

}
#bt1 {
    background-color: hsl(171, 66%, 44%);
    border: 2px solid ;
    border-radius: 25px;
    font-family: 'Bai Jamjuree';
    font-weight: 400;
    padding: 15px 25px;
    color: white;
    box-shadow: 0px 2px 0px hsl(171, 66%, 44%);
}
#bt2 {
    background-color: hsl(233, 100%, 69%);
    border: 2px solid ;
    border-radius: 25px;
    font-family: 'Bai Jamjuree';
    font-weight: 400;
    padding: 15px 25px;
    color: white;
    box-shadow: 0px 2px 0px hsl(233, 100%, 69%);
}
#bt1:active {
    background-color: hsl(171, 66%, 44%);
    cursor: pointer;
}
#bt2:active {
    background-color: hsl(233, 100%, 69%);
    cursor: pointer;
}

#track {
    position: absolute;
    left: 500px;
    top: 540px;
    font-family: 'Bai Jamjuree';
    font-weight: 600;
    font-size: 30px;
    color: hsl(210, 10%, 33%);
}
#store {
    position: absolute;
    left: 390px;
    top: 600px;
    font-family: 'Bai Jamjuree';
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    line-height: 1.6;
    text-align: center;
    font-size: 18px;
}
#com {
    position: absolute;
    top: 800px;
}

#gg {
    color: hsl(210, 10%, 33%);

}

#hh {
    line-height: 1.6;
    font-size: 18px;
    color: hsl(210, 10%, 33%);
    opacity: 0.4;
}
.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 900px;
    top: 800px;

}
#where {
    position: absolute;
    top: 1500px;
    left: 500px;
    color: hsl(210, 10%, 33%);
}
#your {
    position: absolute;
    top: 1560px;
    left: 440px;
    text-align: center;
    line-height: 1.6;
    color: hsl(210, 10%, 33%);
    opacity: 0.5;
}
#dev {
    position: absolute;
    top: 1700px;
    text-align: center;
    left: 200px;
}